<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/produtos']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="produtoForm" (ngSubmit)="onFormSubmit(produtoForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Id Canal" formControlName="idcanal"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!produtoForm.get('idcanal').valid && produtoForm.get('idcanal').touched">Please enter Id Canal</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sku" formControlName="sku"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!produtoForm.get('sku').valid && produtoForm.get('sku').touched">Please enter Produto Sku</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Quantidade" formControlName="quantidade"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!produtoForm.get('quantidade').valid && produtoForm.get('quantidade').touched">Please enter Produto Quantidade</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Data" formControlName="data"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!produtoForm.get('data').valid && produtoForm.get('data').touched">Please enter Produto Data</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!produtoForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
