<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/produtos']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Id Canal" formControlName="idcanal"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('idcanal').valid && bookForm.get('idcanal').touched">Please enter Id Canal</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sku" formControlName="sku"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('sku').valid && bookForm.get('sku').touched">Please enter Book Sku</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Quantidade" formControlName="author"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('author').valid && bookForm.get('author').touched">Please enter Book Quantidade</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Data" formControlName="quantidade"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!bookForm.get('quantidade').valid && bookForm.get('quantidade').touched">Please enter Book Data</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!bookForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
